@charset "UTF-8";

#messages {
  position: fixed;
  top: 0;
  left: 60%;
  width: 40%;
  z-index: 105;
}

#orderReservation a:hover {
  text-decoration: none;
}

#orderReservation #modalImage {
  max-width: 80%;
  max-width: 300px;
  margin: 0 auto;
}

#main h1 {
    padding-top: 2em;
    padding-bottom: 1em;
}

#header h2 {
    padding-left: 0.5em;
    padding-top: 0.5em;
}

#main h3 {
    padding-top: 0.5em;
}

#main h4 {
    padding-top: 1em;
}

#main h5 {
    padding-top: 1em;
}

#presents {
}

#presents .present {
}

#presents .present img {
    max-width: 200px;
    max-height: 150px;
}

#presents .verifying, #presents.reserved {

}

#presents .verifying button.orderReservation, #presents .reserved button.orderReservation {
}

#presents .present h4 a:hover {
    text-decoration: none;
}

div#header li {
    background-color: #ff99bb;
    color: #fff;
    margin: 158px 0 0 0;
    padding: 0;
}

#s1 li {
    float: left;
    list-style-type: none;
}

#s1 li a:link {
    text-decoration: none;
    padding : 10px;
    display: block;
    color: #fff;

    border-left: 1px solid #fff;
}

div#header ul a:link {
    text-decoration: none;
}

div#header ul a:hover{
    font-size: 15px;
    transition: 0.3s ease;
    background-color: #ff3377;
    opacity: 0.7;
}

div#header {
    background: url(../image/flower.jpg) right no-repeat;
    height: 250px;
    width: auto;
    border-bottom: 2px solid #eaeae1;
}

#panel-levy{
    border-left: 3px solid #ff99bb;
    float: right;
    3: 10px;
    padding: 10px;
    width: 210px;
}

p#countdown {
    font-size: 50px;
    font-weight: bold;
}

footer {
    clear: both;
    text-align: center;
    background-color: #eaeae1;
    padding: 1px;
    margin-top: 3em;
}
