<!doctype html>
<html class="no-js" lang="">
<head>
{{>head}}
</head>
<body>
{{>header}}
  <article id="main">
    <h1 class="text-center">Svatební dary</h1>

    <div id="orderReservation" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <a id="modal-title-link" href="#" target="_blank"><h4 class="modal-title"></h4></a>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            <a id="modal-image-link" href="#" target="_blank"><img id="modalImage" src="" class="img-responsive center-block"/></a>
            <p>
              Zadejte svoje telefonní číslo, na které vám můžeme zavolat
              a ověřit Vaši rezervaci.
            </p>
            <form role="form">
              <input type="hidden" id="presentId"/>
              <input class="form-control input-lg" type="text" id="phoneNumber" name="phoneNumber" placeholder="telefonní číslo..." />
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" >Zrušit</button>
            <button type="button" class="btn btn-primary" onclick="sendReservation()">Odeslat rezervaci</button>
          </div>
        </div>
      </div>
    </div>

    <div id="presents" class="card-columns"></div>

  </article>
{{>footer}}
<script type="text/javascript" src="js/presents.js"></script>
</body>
</html>
